$color-fondo-light:  #e0e0e0;
$color-letra-light: #8100ac;
$color-form-light: rgba(255, 255, 255, 0.8);
$color-fondo-dark: rgb(25, 25, 25);
$color-letra-dark: #f1f1f1;
$color-form-dark: rgba(132, 132, 132, 0.8);

