

.vehicle-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
  }
.coches-lista {
  background-color: rgba(255, 255, 255, 0.8);
  color: #8100ac;
  padding: 20px;
  border-radius: 10px; }